body {
  color: #ce84ff;
  background-color: #fcebfa;
  font-family: arial;
  font-size: 15px ;
  line-height: 2;
}

h1 {
  color: #f154f9;
  font-size: 30px;
}

h2 {
   color: #8B49FF;
   font-size: 20px;
}

a {
  color: rgb(137, 56, 141);
  text-decoration: none;
}

a:hover {
  color: #fa212c;
  text-decoration: none;
}

.container {
  border: 5px outset;
  background-color: rgb(236, 173, 222);
  text-align: center;
  padding: 10px;
}

.card {
  border: 3px outset yellow;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey ;
  background-color: lightblue;
  text-align: center;
  padding: 15px;
  margin: 20px;
}

.img-circle {
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
